* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
.pigeon .qw2_top_ {
  width: 7.2rem;
  height: 4.65rem;
  color: white;
  background-image: url(../imgs/top.png);
  background-position: 0rem 0rem;
  background-size: 7.2rem 4.65rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.pigeon .qw2_top_ .qw2_top_1 {
  width: 4.6rem;
  margin: 1rem auto 0.2rem;
  text-align: center;
  font-size: 0.3rem;
  letter-spacing: 0.3rem;
}
.pigeon .qw2_top_ .qw2_top_2 {
  text-align: center;
  font-size: 0.5rem;
}
.pigeon .texttwo {
  width: 7.2rem;
  height: 4.65rem;
  color: white;
  background-image: url(../imgs/top.png);
  background-position: 0rem 0rem;
  background-size: 7.2rem 4.65rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.pigeon .texttwo .text1 {
  margin-top: 0.9rem;
  margin-left: 1.2rem;
  font-size: 0.4rem;
}
.pigeon .texttwo .text2 {
  margin-top: 0.8rem;
  margin-left: 3.7rem;
  font-size: 0.2rem;
}
.pigeon .textthree {
  width: 7.2rem;
  height: 4.65rem;
  position: absolute;
  color: white;
  background-image: url(../imgs/top.png);
  background-position: 0rem 0rem;
  background-size: 7.2rem 4.65rem;
  background-repeat: no-repeat;
  display: none;
}
.pigeon .textthree img {
  width: 0.76rem;
}
.pigeon .textthree .text .top {
  display: flex;
}
.pigeon .textthree .text .top .text1 {
  position: absolute;
  top: 1.1rem;
  left: 1.41rem;
  font-size: 0.4rem;
}
.pigeon .textthree .text .top .text2 {
  position: absolute;
  top: 1.1rem;
  left: 2.45rem;
  margin-top: 0.1rem;
  font-size: 0.3rem;
}
.pigeon .textthree .text .content {
  display: flex;
  font-size: 0.24rem;
}
.pigeon .textthree .text .content .img {
  position: absolute;
  top: 1.82rem;
  left: 2.03rem;
}
.pigeon .textthree .text .content .text {
  width: 2.5rem;
  position: absolute;
  top: 1.74rem;
  left: 3.18rem;
}
.pigeon .textthree .text .bottom {
  width: 2rem;
  position: absolute;
  top: 3.1rem;
  left: 3.6rem;
  font-size: 0.2rem;
}
.pigeon .textfive {
  width: 7.2rem;
  height: 4.65rem;
  color: white;
  background-image: url(../imgs/top.png);
  background-position: 0rem 0rem;
  background-size: 7.2rem 4.65rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.pigeon .textfive .top {
  margin-top: 1rem;
  margin-left: 1.3rem;
  font-size: 0.35rem;
  font-weight: 600;
}
.pigeon .textfive .bottom {
  margin-left: 1.3rem;
  margin-top: 0.2rem;
}
.pigeon .textfour {
  width: 7.2rem;
  height: 4.65rem;
  color: white;
  background-image: url(../imgs/top.png);
  background-position: 0rem 0rem;
  background-size: 7.2rem 4.65rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.pigeon .textfour .top {
  display: flex;
  margin-top: 1rem;
  margin-left: 1.3rem;
  font-size: 0.35rem;
}
.pigeon .textfour .top img {
  width: 0.76rem;
  height: 0.76rem;
}
.pigeon .textfour .top p {
  margin-left: 0.1rem;
}
.pigeon .textfour .bottom {
  width: 7rem;
  margin: 0.2rem auto 0;
  text-align: center;
}
.pigeon .flying {
  position: absolute;
  bottom: -1.81rem;
  left: 3.13rem;
  display: none;
  z-index: 4;
}
.pigeon .flying img {
  width: 1rem;
}
.pigeon .qw3 {
  width: 7.2rem;
  height: 100%;
  position: absolute;
  top: 0rem;
  display: none;
  color: white;
  overflow: hidden;
}
.pigeon .qw3 .top {
  margin-top: 0.9rem;
  margin-left: 1.1rem;
  line-height: 0.6rem;
}
.pigeon .qw3 .top .t1 {
  display: flex;
  font-size: 0.3rem;
}
.pigeon .qw3 .top .t1 div {
  width: 2rem;
  height: 0.6rem;
  border: 0.01rem solid;
  border-radius: 0.3rem;
  margin-left: 1rem;
  text-align: center;
  position: relative;
  display: flex;
}
.pigeon .qw3 .top .t1 div img {
  width: 0.26rem;
  position: absolute;
  top: 0.15rem;
  left: 0.23rem;
}
.pigeon .qw3 .top .t1 div p {
  font-size: 0.24rem;
  width: 2rem;
  text-align: center;
}
.pigeon .qw3 .top .t2 {
  font-size: 0.3rem;
}
.pigeon .qw3 .top .t2 span {
  font-size: 0.5rem;
  font-weight: bold;
}
.pigeon .qw3 .star .number {
  width: 1.86rem;
  height: 0.46rem;
  border: 3px solid white;
  border-radius: 0.1rem;
  line-height: 0.4rem;
  text-align: center;
}
.pigeon .qw3 .star .star_1 {
  position: absolute;
  top: 4rem;
  left: 2.55rem;
}
.pigeon .qw3 .star .star_1 .star {
  width: 2.1rem;
}
.pigeon .qw3 .star .star_1 .gz {
  width: 0.7rem;
  position: absolute;
  top: -0.6rem;
  left: 0.7rem;
}
.pigeon .qw3 .star .star_1 .number {
  position: absolute;
  top: 0.8rem;
  left: 0.12rem;
}
.pigeon .qw3 .star .star_2 {
  position: absolute;
  top: 5rem;
  left: 5.2rem;
}
.pigeon .qw3 .star .star_2 .star {
  width: 1.8rem;
}
.pigeon .qw3 .star .star_2 .gz {
  width: 0.7rem;
  position: absolute;
  top: -0.6rem;
  left: 0.5rem;
}
.pigeon .qw3 .star .star_2 .number {
  position: absolute;
  top: 0.9rem;
  left: 0rem;
}
.pigeon .qw3 .star .star_3 {
  position: absolute;
  top: 5rem;
  left: 0.43rem;
}
.pigeon .qw3 .star .star_3 .star {
  width: 1.6rem;
}
.pigeon .qw3 .star .star_3 .gz {
  width: 0.7rem;
  position: absolute;
  top: -0.6rem;
  left: 0.5rem;
}
.pigeon .qw3 .star .star_3 .number {
  position: absolute;
  top: 0.8rem;
  left: -0.1rem;
}
.pigeon .qw3 .bottom {
  display: flex;
  position: absolute;
  bottom: 0.6rem;
  left: 0.7rem;
}
.pigeon .qw3 .bottom div {
  width: 2rem;
  height: 0.6rem;
  text-align: center;
  line-height: 0.6rem;
  border: 1px solid white;
  border-radius: 0.3rem;
}
.pigeon .qw3 .bottom .claiam {
  margin-left: 1.8rem;
}
.pigeon .qw2 {
  width: 7.2rem;
  height: 11.6rem;
  position: absolute;
  bottom: 0;
}
.pigeon .qw2 .qw2_road_1 {
  position: absolute;
  bottom: 0;
  left: 2.6rem;
}
.pigeon .qw2 .qw2_road_1 img {
  width: 2rem;
}
.pigeon .qw2 .qw2_gz {
  position: absolute;
  bottom: 0;
  left: 3.25rem;
  z-index: 5;
}
.pigeon .qw2 .qw2_gz img {
  width: 0.7rem;
}
.pigeon .qw2 .qw2_yun_1 {
  position: absolute;
  bottom: 0;
}
.pigeon .qw2 .qw2_yun_1 img {
  width: 7.2rem;
}
.pigeon .qw2 .qw2_yun_2 {
  position: absolute;
  bottom: 0.5rem;
}
.pigeon .qw2 .qw2_yun_2 img {
  width: 7.2rem;
}
.pigeon .qw2 .qw2_yun_3 {
  position: absolute;
  bottom: 3rem;
}
.pigeon .qw2 .qw2_yun_3 img {
  width: 7.2rem;
}
.pigeon .qw2 .qw2_shan {
  position: absolute;
  bottom: 7.2rem;
}
.pigeon .qw2 .qw2_shan img {
  width: 7.2rem;
}
.pigeon .qw2 .qw2_top {
  position: relative;
}
.pigeon .qw2 .qw2_top img {
  width: 7.2rem;
}
.pigeon .qw2 .qw2_text {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  position: absolute;
  bottom: 4rem;
  opacity: 0;
}
.pigeon .qw2 .qw2_text p {
  margin-bottom: 1rem;
  font-size: 0.4rem;
  line-height: 1.6em;
  color: #0c8f8d;
}
.pigeon .qw2 .qw2_text img {
  width: 0.64rem;
  margin: 0 auto;
  z-index: 10;
}
.pigeon .qw2 .qw2_text .jt1 {
  position: absolute;
  top: 1.9rem;
  left: 3.28rem;
}
.pigeon .qw2 .qw2_text .jt2 {
  position: absolute;
  top: 2.23rem;
  left: 3.28rem;
}
.pigeon .qw2 .qw2_text .jt3 {
  position: absolute;
  top: 2.56rem;
  left: 3.28rem;
}
.pigeon .qw2 .qw2_text .jt4 {
  position: absolute;
  top: 2.99rem;
  left: 3.28rem;
}
